<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos los libros</title>
   
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    <div class="container">
        <h2>Todos los libros</h2>
        {% if libros %}
            <table class="books-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Género</th>
                        <th>Año</th>
                    </tr>
                </thead>
                <tbody>
                {% for libro in libros %}
                    <tr>
                        <td>{{ libro.id }}</td>
                        <td>{{ libro.titulo }}</td>
                        <td>{{ libro.autor }}</td>
                        <td>{{ libro.genero }}</td>
                        <td>{{ libro.año }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="no-books">No hay libros en la biblioteca.</p>
        {% endif %}
        <a href="{{ url_for('index') }}">Volver al menú</a>
    </div>
</body>
</html>